.home {
  background-image: url("../../images/home.jpg");
  background-size: cover;
  background-position: center center;
  float: right;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Dancing Script';
  color: white;
  display: flex;
}


.welcome {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding: 50px;
  }

#hello {
  font-size: 4rem;
  font-family: 'Dancing Script'
}

#home-shop {
  background-color: white;
  color:  rgb(76, 152, 129);
  font-family: 'Dancing Script';
}

@media only screen and (min-width: 400px) {
    .home {
        background-image: url('../../images/home.jpg');
        background-position: 50%, 40%;
    }
}
