$primaryTextColor: black;
$hoverColor: gray;
$secondaryColor: rgb(76, 152, 129);

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  transition: 300ms ease all;
  backface-visibility: hidden;
}

#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background: white;
  color: $primaryTextColor;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Poiret One', cursive;
}

#site-menu .toggle-nav {
  display: inline-block;
  margin: 15px 0 15px 15px;
  padding-left: 0;
}

#site-menu h2 {
  margin: 0 0 15px 15px;
  font-size: 40px;
}

#site-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#site-menu ul li {
  text-indent: 20px;
  line-height: 40px;
}

#site-menu ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
}

#site-menu ul li a:hover {
  text-decoration: none;
  color: $primaryTextColor;
  background: $hoverColor;
}

#site-menu ul li a:active,
#site-menu ul li a:focus {
  text-decoration: none;
}

.navbar-header {
  position: absolute;
  padding: 1em;

  .btn-link {
    color: $secondaryColor;
  }
  .menu {
    text-align: center;
    color: $secondaryColor;
  }
}

.show-nav {
  #site-canvas {
    transform: translateX(300px);
    transform: translate3d(300px, 0, 0);
  }

  .navbar-header .btn-icon {
    display: none;
  }
}
