.shop {
  background-image: url('../../images/upfeathers.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: scroll;
  float: right;
  height: 100%;
  width: 100%;
  padding: 84px 1em 15px;
  overflow: scroll;
}

.shop-item {
  margin-bottom: 30px;

  .card-content {
    height: 350px;
    background-color: rgba(205, 201, 201, 0.77);
    border-radius: 3px;
    padding: 15px;
  }

  .card-photo {
    margin: 0 0 10px;
    width: 100%;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.page-header {
  background-color: white;
  text-align: center;
  font-family: 'Dancing Script';
  padding: 10px;
}

@media only screen and (min-width: 400px) {

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
  }
    .card-content {
      font-size: 1.3rem;

    }
}
